<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Home page</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
{% include "/include/header.html" %}

{% block body %}

<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('home1')}}" class="nav-link">Home</a>
      </li>
    </ul>

     <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  data-toggle="dropdown"> </a>
          Logged as Manager
          <div class="dropdown-menu dropdown-menu-right" style="top: 13px;">
            <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
          </div>
        </li>
      </ul>
  </nav>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
      <span class="brand-text font-weight-light">Manager Home Page</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="static/dist/img/login.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Hello... Manager </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="{{url_for('home1')}}" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
               <a href="{{url_for('employeedetails')}}" class="nav-link ">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Employee List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{url_for('monthlyattendance')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Monthly Attendance</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{url_for('yearlyattendance')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Yearly Attendance</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{url_for('pendingleave')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pending Leave Request</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</div>
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<div class="container-fluid">
  <div class="well text-center">
    <h2>WELCOME TO ATTENDANCE DETAILS FORM</h2>
  </div>
  <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
  <div class="container-fluid">
    <div class="row">
      <div class="col md-12">
        <h2>Yearly Attendance</h2>

        {%with messages = get_flashed_messages()%}

        {%if messages%}

        {% for message in messages %}

        <div class="alert alert-success alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label ="close">
            <span aria-hidden="true">&times;</span>
          </button>
        {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <table class="table table-striped">
          <tr>
            <th>RecordID</th>
            <th>Year</th>

            <th>EmployeeID</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>

          </tr>
          {% for row in yearlyattendancedashboard %}
          <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
            <td>{{row.3}}</td>
            <td>{{row.4}}</td>
            <td>{{row.5}}</td>
            <td>{{row.6}}</td>
            <td>{{row.7}}</td>
            <td>{{row.8}}</td>
            <td>{{row.9}}</td>
            <td>{{row.10}}</td>
            <td>{{row.11}}</td>
            <td>{{row.12}}</td>
            <td>{{row.13}}</td>
            <td>{{row.14}}</td>


          </tr>
          {% endfor  %}
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<h1>The button Element</h1>

<button type="button" onclick="alert('http://127.0.0.1:5000/yearlyattendancedetail')">Click Me!</button>

<!--</body>-->
<!--</html>-->


           <!DOCTYPE html>
<html>
  <head>
    <title>JavaScript Bar Chart</title>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
  </head>
  <body>
    <div id="container" style="width: 100%; height: 100%"></div>
    <script>
      anychart.onDocumentReady(function() {

        // set the data
        var data = {
            header: ["Year", "Monthname"],
            rows: [
              ["Jan", 0],
              ["Feb", 0],
              ["Mar", 0],
              ["Apr", 0],
              ["May",20],
              ["Jun", 0],
              ["Jul", 0],
              ["Aug", 0],
              ["Sep", 0],
              ["Oct", 0],
              ["Nov", 0],
             ["Dec", 0],
        ]};

        // create the chart
           chart = anychart.column();

        // add the data
        chart.data(data);

        // set the chart title
        chart.title("Year attendance of Employee");

        // draw
        chart.container("container");
        chart.draw();
      });
    </script>
  </body>
</html>



{% endblock %}

{% include "/include/footer.html" %}
</body>
</html>