<!--<style>-->
<!--    .site-footer-->
<!--{-->
<!--background-color:#8C3434;-->
<!--  padding:20px 0 5px;-->
<!--  font-size:15px;-->
<!--  line-height:24px;-->
<!--  color: rgba(255,255,255,.8);-->
<!--}-->
<!--.site-footer hr-->
<!--{-->
<!--  border-top-color:#bbb;-->
<!--  opacity:0.5-->
<!--}-->
<!--.site-footer hr.small-->
<!--{-->
<!--  margin:20px 0-->
<!--}-->
<!--.site-footer h6-->
<!--{-->
<!--  color:#fff;-->
<!--  font-size:16px;-->
<!--  text-transform:uppercase;-->
<!--  margin-top:5px;-->
<!--  letter-spacing:2px-->
<!--}-->
<!--.site-footer a-->
<!--{-->
<!--  color:#737373;-->
<!--}-->
<!--.site-footer a:hover-->
<!--{-->
<!--  color:#3366cc;-->
<!--  text-decoration:none;-->
<!--}-->
<!--.footer-links-->
<!--{-->
<!--  padding-left:0;-->
<!--  list-style:none-->
<!--}-->
<!--.footer-links li-->
<!--{-->
<!--  display:block-->
<!--}-->
<!--.footer-links a-->
<!--{-->
<!--  color:#737373-->
<!--}-->
<!--.footer-links a:active,.footer-links a:focus,.footer-links a:hover-->
<!--{-->
<!--  color:#3366cc;-->
<!--  text-decoration:none;-->
<!--}-->
<!--.footer-links.inline li-->
<!--{-->
<!--  display:inline-block-->
<!--}-->
<!--.site-footer .social-icons-->
<!--{-->
<!--  text-align:right-->
<!--}-->
<!--.site-footer .social-icons a-->
<!--{-->
<!--  width:40px;-->
<!--  height:40px;-->
<!--  line-height:40px;-->
<!--  margin-left:6px;-->
<!--  margin-right:0;-->
<!--  border-radius:100%;-->
<!--  background-color:#33353d-->
<!--}-->
<!--.copyright-text-->
<!--{-->
<!--  margin:0-->
<!--}-->
<!--@media (max-width:100px)-->
<!--{-->
<!--  .site-footer [class^=col-]-->
<!--  {-->
<!--    margin-bottom:500px-->
<!--  }-->
<!--}-->
<!--@media (max-width:767px)-->
<!--{-->
<!--  .site-footer-->
<!--  {-->
<!--    padding-bottom:0-->
<!--  }-->
<!--  .site-footer .copyright-text,.site-footer .social-icons-->
<!--  {-->
<!--    text-align:center-->
<!--  }-->
<!--}-->
<!--</style>-->
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

}
</style>
  <!-- Site footer -->
    <footer class="main-footer text-center  footer " id="footer" style="margin-left:0px!important;">
    <h4 class="footer_info">&copy; Real Time Attendance Monitering</h4>
    <p> <b>Powered by</b> <a href="https://www.tecpleglobal.com/" > <b style="color:#FF8008; text-align:center;">Tecple Innoventive Solutions Pvt. Ltd. </b> </a> </p>
  </footer>