<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home page</title>
</head>
{% include "/Layout/header.html" %}

{% block body %}

<div class="content-wrapper">
<div class="container-fluid" style="padding:0px;">
  <div class="wellif text-center">
    <h2 class="head">REALTIME MONITORING OF WORKFORCE</h2>
  </div>
  <div class="container-fluid navbar navbar-expand navbar-light">
  <!-- Navbar -->
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('home1')}}" class="nav-link">Home</a>
      </li>
    </ul>

     <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  data-toggle="dropdown"> </a>
          Logged as Admin
          <div class="dropdown-menu dropdown-menu-right" style="top: 13px;">
            <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
          </div>
        </li>
      </ul>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link" >
      <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
      <span class="navbarheading">Admin Home Page</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="border-bottom:1px solid white;">
        <div class="image">
          <img src="static/dist/img/login.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <p class="navbarstyle">Hello...Admin </p>
        </div>
      </div>
      {% include "/Layout/sidebar.html" %}
    </div>
  </aside>
  </div>
  <!-- Content Wrapper. Contains page content -->
    <div class="row">
      <div class="col md-12" style="padding:20px;padding-top:0px;">
       {% with messages = get_flashed_messages(with_categories=true) %}
	 		{%if messages%}
			{% for category, message in messages %}
	 		<div class="alert alert-{{ category }}" >
		  	{{message}}
		 	<button type="button" class="close" data-dismiss="alert" aria-label ="close">
			 <span aria-hidden="true">&times;</span>
		 	</button>
	 		</div>
	 		{%endfor%}
	 		{%endif%}
			 {%endwith%}
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
               <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
              <div class="card-header">
                <i class="fa fa-user" aria-hidden="true" style="font-size:18px; padding:7px;">MY PROFILE</i>

              </div>
               <!-- /.card-header -->
              <div class="card-body">
                <!-- /.row -->
                {% for row in usermaster %}
                <div class="form-group col-md-3">
                  <label >Name</label>
                  <input type="text" class="form-control" value="{{row.1}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>Designation</label>
                  <input type="text" class="form-control" value="{{row.2}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>Department</label>
                  <input type="text" class="form-control" value="{{row.3}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>ManagerId</label>
                  <input type="number" class="form-control" value="{{row.4}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>City</label>
                  <input type="text" class="form-control" value="{{row.5}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>Email</label>
                  <input type="email" class="form-control" value="{{row.6}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>Mobile</label>
                  <input type="number" class="form-control" value="{{row.7}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>Address</label>
                  <input type="text" class="form-control" value="{{row.8}}" readonly>
                </div>
                {% endfor  %}
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </section>
      </div>
    </div>
  </div>
  {% include "/Layout/footer.html" %}
</div>
{% endblock %}
</html>
