<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home page</title>
</head>
{% include "/Layout/header.html" %}

{% block body %}
<div class="content-wrapper">
<div class="container-fluid" style="padding:0px;">
  <div class="wellif text-center">
    <h2 class="head">REALTIME MONITORING OF WORKFORCE</h2>
  </div>
  <div class="container-fluid navbar navbar-expand navbar-light">
  <!-- Navbar -->
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('home1')}}" class="nav-link">Home</a>
      </li>
    </ul>

     <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  data-toggle="dropdown"> </a>
          Logged as Admin
          <div class="dropdown-menu dropdown-menu-right" style="top: 13px;">
            <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
          </div>
        </li>
      </ul>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link" >
      <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
      <span class="navbarheading">Admin Home Page</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="border-bottom:1px solid white;">
        <div class="image">
          <img src="static/dist/img/login.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <p class="navbarstyle">Hello...Admin </p>
        </div>
      </div>
{% include "/Layout/sidebar.html" %}
    </div>
  </aside>
  </div>
  <!-- Content Wrapper. Contains page content -->
    <div class="row">
      <div class="col md-12" style="padding:20px;padding-top:0px;">
        {% with messages = get_flashed_messages(with_categories=true) %}
	 		{%if messages%}
			{% for category, message in messages %}
	 		<div class="alert alert-{{ category }}" >
		  	{{message}}
		 	<button type="button" class="close" data-dismiss="alert" aria-label ="close">
			 <span aria-hidden="true">&times;</span>
		 	</button>
	 		</div>
	 		{%endfor%}
	 		{%endif%}
			 {%endwith%}
         <div class="card">
              <div class="card-header">
                <h2 class="cardtitle">HOLIDAY LIST<button type="button" class="btn btnadd pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>  &nbsp;Add Holiday</button></h2>
              </div>
         <div class="card-body">
           <table id="example1" class="table table-bordered table-striped">
             <tr class="tablerow">
            <th>Sl. No.</th>
            <th>HOLIDAY ID</th>
            <th>DATE</th>
            <th>YEAR</th>
            <th>EVENT NAME</th>
            <th>ACTION</th>
          </tr>
          {% for row in holidaycalendermaster %}
          <tr>
            <td></td>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
            <td>{{row.3}}</td>
            <td >
              <a href="/update/{{row.0}}" class="btn  btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}"><i class="fa fa-edit" style="color:#007bff;"></i></a>
              <a href="/delete/{{ row.0 }}" class="btn btn-xs" onclick="return confirm('Are You Sure For Delete?')"><i class="fa fa-trash" style="color:red;"></i></a>
            </td >
          </tr>
          <!--Modal Edit Event-->
          <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Holiday</h4>
                  <button type="button" class="close modalclose" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('holidayupdate')}}" method="POST" onsubmit="makeSearch()">
                    <div class="form-group">
                      <label>DATE:</label>
                      <input type="hidden" name="HolidayId" value="{{row.0}}">
                      <input type="date" class="form-control" name="Date" required="" value="{{row.1}}">
                    </div>
                    <div class="form-group">
                      <label>YEAR:</label>
                      <input type="number" class="form-control" name="Year" required="" value="{{row.2}}">
                    </div>
                    <div class="form-group">
                      <label>EVENT NAME:</label>
                      <input type="text" class="form-control" name="EventName" id="ename" required="" value="{{row.3}}">
                       <span id="enames" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class="form-group">
                      <button class="btn btnadd" type="submit">Update Holiday</button>
                      <button type="button" class="btn btncancel" data-dismiss="modal">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor%}
        </table>
         </div>
         </div>
      </div>
    </div>
  </div>
{% include "/Layout/footer.html" %}
</div>
{% endblock %}
<script>
function validateform()
{
   var Name= document.getElementById('Name').value;
 var letters = /^[A-Za-z]+$/;
 if(Name == "")
  {
		document.getElementById('Names').innerHTML =" ** Please fill the username field";
		return false;
  }
  if((Name.length <= 2) || (Name.length > 20))
  {
		document.getElementById('Names').innerHTML =" ** Username length must be between 2 and 20";
		return false;

  }
  if(!letters.test(Name))
  {
		document.getElementById('Names').innerHTML =" ** only characters are allowed";
		return false;
  }
}
</script>
</html>
<!--Modal-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please Insert Data</h4>
        <button type="button" class="close modalclose" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('holidayinsert')}}" method="POST"  onsubmit="return validateform()">
          <div class="form-group">
            <label>DATE:</label>
            <input type="date" class="form-control" name="Date" required="">
          </div>
          <div class="form-group">
            <label>YEAR:</label>
            <input type="number" class="form-control" name="Year" required="">
          </div>
           <div class="form-group">
            <label>EVENT NAME:</label>
            <input type="text" class="form-control" name="EventName" id="Name" required="">
             <span id="Names" class="text-danger font-weight-bold" ></span>
          </div>
          <div class="form-group">
            <button class="btn btnadd" name="submit" value="submit" type="submit">Insert Holiday</button>
            <button class="btn  btncancel" type="reset" value="reset" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>