<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Admin Home page</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
{% include "/include/header.html" %}

{% block body %}

<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('home')}}" class="nav-link">Home</a>
      </li>
    </ul>

     <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  data-toggle="dropdown"> </a>
          Logged as IT Admin
          <div class="dropdown-menu dropdown-menu-right" style="top: 13px;">
            <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
          </div>
        </li>
      </ul>
  </nav>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
      <span class="brand-text font-weight-light">IT Admin Home Page</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="static/dist/img/login.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block">Hello... IT Admin </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="{{url_for('home')}}" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{url_for('itadminhome')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Camera</p>
                </a>
              </li>
<!--              <li class="nav-item">-->
<!--                <a href="./index2.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>View Camera</p>-->
<!--                </a>-->
<!--              </li>-->
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</div>
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<div class="container-fluid">
  <div class="well text-center">
    <h2>CAMERA DETAILS FORM</h2>
  </div>
  <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
  <div class="container-fluid">
    <div class="row">
      <div class="col md-12">
        <h2>Camera List<button type="button" class="btn btn-success  pull-right" data-toggle="modal" data-target="#myModal">Add Camera Data</button></h2>

        {%with messages = get_flashed_messages()%}

        {%if messages%}

        {% for message in messages %}

        <div class="alert alert-success alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label ="close">
            <span aria-hidden="true">&times;</span>
          </button>
        {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <table class="table table-striped">
          <tr>
            <th>CameraID</th>
            <th>CameraName</th>
            <th>Location</th>
            <th>Action</th>
          </tr>
          {% for row in camra %}
          <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>



            <td>
              <a href="/Cameraupdate/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
              <a href="/Cameradelete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
            </td>
          </tr>
     <!-- Modal Edit Employee-->
          <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Update Information</h4>
                </div>
                <div class="modal-body">
                  <form action="{{ url_for('Cameraupdate') }}" method="POST">
                    <div class="form-group">
                      <label>Camera Name:</label>
                      <input type="hidden"  name="CamaraID" value="{{row.0}}">
                      <input type="text" class="form-control" name="CameraName" value="{{row.1}}">
                    </div>
                    <div class="form-group">
                      <label>Location:</label>
                      <input type="text" class="form-control" name="Location" value="{{row.2}}">
                    </div>

                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor  %}
        </table>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

{% include "/include/footer.html" %}
</body>
</html>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Please Insert Data</h4>
         </div>
        <div class="modal-body">
          <form action="{{ url_for('Camerainsert') }}" method="POST">
            <div class="form-group">
              <label>Camera Name:</label>
              <input type="text" class="form-control" name="CameraName" required="1">
            </div>
            <div class="form-group">
              <label>Location:</label>
              <input type="text" class="form-control" name="Location" required="1">
            </div>

            <div class="form-group">
              <button class="btn btn-primary" type="submit">Insert Data</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
   </div>
</div>