<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Admin Home page</title>
</head>
<style>
body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}

tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content:counter(Serial); /* Display the counter */
}

</style>
{% include "/Layout/header.html" %}

{% block body %}

<div class="content-wrapper">
<div class="container-fluid" style="padding:0px;">
  <div class="wellif text-center">
    <h2 class="head">REALTIME MONITORING OF WORKFORCE</h2>
  </div>
  <div class="container-fluid">
  <!-- Navbar -->
  <nav class=" navbar navbar-expand navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('home')}}" class="nav-link">Home</a>
      </li>
    </ul>

     <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  data-toggle="dropdown"> </a>
          Logged as IT Admin
          <div class="dropdown-menu dropdown-menu-right" style="top: 13px;">
            <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
          </div>
        </li>
      </ul>
  </nav>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
      <span class="navbarheading">IT Admin Home Page</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="border-bottom:1px solid white;">
        <div class="image">
          <img src="static/dist/img/login.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <p class="navbarstyle">Hello... IT Admin </p>
        </div>
      </div>
         {% include "/Layout/sidebar.html" %}
    </div>
  </aside>
</div>
  <!-- Content Wrapper. Contains page content -->
    <div class="row">
      <div class="col md-12" style="padding:20px;padding-top:0px;">
       {% with messages = get_flashed_messages(with_categories=true) %}
	 		{%if messages%}
			{% for category, message in messages %}
	 		<div class="alert alert-{{ category }}" >
		  	{{message}}
		 	<button type="button" class="close" data-dismiss="alert" aria-label ="close">
			 <span aria-hidden="true">&times;</span>
		 	</button>
	 		</div>
	 		{%endfor%}
	 		{%endif%}
			 {%endwith%}
        <div class="card">
              <div class="card-header">
        <h2 class="cardtitle">Camera List<button type="button" class="btn btnadd pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Camera Data</button></h2>
              </div>
         <div class="card-body">
           <table id="example1" class="table table-bordered table-striped">
          <tr class="tablerow">
            <th>Sl. No.</th>
            <th>CAMERA ID</th>
            <th>CAMERA NAME</th>
            <th>LOCATION</th>
            <th>ACTION</th>
          </tr>
          {% for row in camra %}
          <tr>
            <td></td>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>

            <td>
              <a href="/Cameraupdate/{{row.0}}" class="btn  btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}"><i class="fa fa-edit"  style="color:#007bff;"></i></a>
              <a href="/Cameradelete/{{ row.0 }}" class="btn btn-xs" onclick="return confirm('Are You Sure For Delete?')"><i class="fa fa-trash" style="color:red;"></i></a>
            </td>
          </tr>
     <!-- Modal Edit Employee-->
          <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Information</h4>
                  <button type="button" class="close  modalclose" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form action="{{ url_for('Cameraupdate') }}" method="POST">
                    <div class="form-group">
                      <label>CAMERA NAME:</label>
                      <input type="hidden"  name="CamaraID" value="{{row.0}}">
                      <input type="text" class="form-control" name="CameraName" required=""  value="{{row.1}}">
                    </div>
                    <div class="form-group">
                      <label>LOCATION:</label>
                      <input type="text" class="form-control" name="Location" required=""  value="{{row.2}}">
                    </div>
                    <div class="form-group">
                      <button class="btn btnadd" type="submit">Update</button>
                      <button type="button" class="btn btncancel" data-dismiss="modal">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor  %}
        </table>
         </div>
        </div>
      </div>
    </div>
  </div>
  {% include "/Layout/footer.html" %}
</div>

{% endblock %}
<script>
 function validateform()
{
 var Name= document.getElementById('Name').value;
 var Location= document.getElementById('Location').value;
 var letters = /^[A-Z' a-z 0-9]+$/;
 if(Name == "")
  {
		document.getElementById('Names').innerHTML =" ** Please fill the username field";
		return false;
  }
  if((Name.length <= 2) || (Name.length > 20))
  {
		document.getElementById('Names').innerHTML =" ** Username length must be between 2 and 20";
		return false;
  }
  if(!letters.test(Name))
  {
		document.getElementById('Names').innerHTML =" ** only characters are allowed";
		return false;
  }

  if(Location == "")
  {
		document.getElementById('Locations').innerHTML =" ** Please fill the username field";
		return false;
  }
  if((Location.length <= 2) || (Location.length > 20))
  {
		document.getElementById('Locations').innerHTML =" ** Username length must be between 2 and 20";
		return false;
  }
  if(!letters.test(Location))
  {
		document.getElementById('Locations').innerHTML =" ** only characters are allowed";
		return false;
  }
 }

</script>
</html>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
           <h4 class="modal-title">Please Insert Data</h4>
           <button type="button" class="close modalclose" data-dismiss="modal">&times;</button>
         </div>
        <div class="modal-body">
          <form action="{{ url_for('Camerainsert') }}" method="POST" onsubmit="return validateform()">
            <div class="form-group">
              <label>CAMERA NAME</label>
              <input type="text" class="form-control" name="CameraName" id="Name" required="">
               <span id="Names" class="text-danger font-weight-bold" ></span>
            </div>
            <div class="form-group">
              <label>LOCATION</label>
              <input type="text" class="form-control" name="Location" id="Location" required="">
               <span id="Locations" class="text-danger font-weight-bold" ></span>
            </div>

            <div class="form-group">
              <button class="btn btnadd" name="submit" value="submit" type="submit">Insert Camera</button>
              <button class="btn  btncancel" type="reset" value="reset" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
   </div>
</div>