<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Home page</title>
</head>
<style>
 body {
	font-family: sans-serif;
}

 .wellif {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background: linear-gradient(to top, #ff8008, #ffc837);
  color:black;
  font-family:Times,serif;font-family:Times,serif;
}
.head{
font-size:36px;
}
.sidebar-primary{
 	background: linear-gradient(to bottom, #ff8008, #ffc837);
}
.navbarstyle{
  color:white;
  font-weight:bold;
  font-size:15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color:black!important;
  background-color:white!important;

}

p:hover {
color:black!important;
}
.btnadd{
color:white!important;
font-weight:bold!important;
background-color: #007bff!important;
}
.navbarheading{
text-align:center;
font-weight:bold;
font-size:18px;
color:white;
}
.brand-link
{
text-align:center;
}
.tablerow{
color :#1a6b63 !important;
font-weight:bold;
}
.modal-header{
color:black;
font-weight:bold;
 background:#FFBE31;
}
.modalclose{
color:black!important;
font-weight:bold;
 background:#FFBE31;
}
.btncancel{
color:white!important;
font-weight:bold!important;
background-color :#F70000!important;
}
body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}

tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content:counter(Serial); /* Display the counter */
}
.cardtitle{
    margin-top:0px;
  font-size: 2rem;
  font-weight:bold;
  color :#1a6b63 !important;
}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
{% include "/include/header.html" %}

{% block body %}

<div class="content-wrapper">
<div class="container-fluid" style="padding:0px;">
  <div class="wellif text-center">
     <h2 class="head">REALTIME MONITORING OF WORKFORCE</h2>
  </div>
  <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
  <div class="container-fluid navbar navbar-expand navbar-light">
  <!-- Navbar -->
      <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('home3')}}" class="nav-link">Home</a>
      </li>
    </ul>

    <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  data-toggle="dropdown"> </a>
          Logged as Employee
          <div class="dropdown-menu dropdown-menu-right" style="top: 13px;">
            <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
          </div>
        </li>
      </ul>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
      <span class="navbarheading">Employee Home Page</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel d-flex" style="border-bottom:1px solid white;">
        <div class="image">
          <img src="static/dist/img/login.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <p  class="navbarstyle">Hello... Employee </p>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="fa fa-tachometer-alt navbarstyle"></i>&nbsp;
              <p class="navbarstyle">
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{url_for('mydetails4')}}" class="nav-link">
                  <i class="fa fa-info-circle navbarstyle"></i>&nbsp;
                  <p class="navbarstyle">My Details</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p class="navbarstyle">Attendance </p>
                </a>
              </li>
               <li class="nav-item">
                <a href="./index2.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p class="navbarstyle">Leave History </p>
                </a>
              </li>
               <li class="nav-item">
                <a href="{{url_for('leave')}}" class="nav-link">
                   <i class="fa fa-plus navbarstyle"></i>&nbsp;
                  <p class="navbarstyle">Apply Leave</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</div>
  <!-- Content Wrapper. Contains page content -->
    <div class="row">
     <div class="col md-12" style="padding:20px;padding-top:0px;">

       {% with messages = get_flashed_messages(with_categories=true) %}
	 		{%if messages%}
			{% for category, message in messages %}
	 		<div class="alert alert-{{ category }}" >
		  	{{message}}
		 	<button type="button" class="close" data-dismiss="alert" aria-label ="close">
			 <span aria-hidden="true">&times;</span>
		 	</button>
	 		</div>
	 		{%endfor%}
	 		{%endif%}
			 {%endwith%}
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
               <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
              <div class="card-header">
                <i class="fa fa-user" aria-hidden="true" style="font-size:18px; font-weight:bold; font-weight:bold;">MY PROFILE</i>&nbsp;
              </div>
               <!-- /.card-header -->
              <div class="card-body">
                <!-- /.row -->
                {% for row in usermaster %}
                <div class="form-group col-md-3">
                  <label >NAME:</label>
                  <input type="text" class="form-control" value="{{row.1}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>DESIGNATION:</label>
                  <input type="text" class="form-control" value="{{row.2}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>DEPARTMENT:</label>
                  <input type="text" class="form-control" value="{{row.3}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>MANAGER ID:</label>
                  <input type="number" class="form-control" value="{{row.4}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>CITY:</label>
                  <input type="text" class="form-control" value="{{row.5}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>EMAIL:</label>
                  <input type="email" class="form-control" value="{{row.6}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>MOBILE:</label>
                  <input type="number" class="form-control" value="{{row.7}}" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label>ADDRESS:</label>
                  <input type="text" class="form-control" value="{{row.8}}" readonly>
                </div>

                {% endfor  %}
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </section>
        <!-- /.card -->
<!--        <form name="form1">-->
<!--          {% for row in usermaster %}-->
<!--         &lt;!&ndash; <div><b class="head">EmployeeId</b>:<b class="info">{{row.0}}</b></div>&ndash;&gt;-->
<!--          <div><b class="head">Name:</b>:<b class="info">{{row.1}}</b></div>-->
<!--          <div><b class="head">Designation:</b>:<b class="info">{{row.2}}</b></div>-->
<!--          <div><b class="head">Department: </b>:<b class="info">{{row.3}}</b></div>-->
<!--          <div><b class="head">ManagerId: </b>:<b class="info">{{row.4}}</b></div>-->
<!--          <div><b class="head">City: </b>:<b class="info">{{row.5}}</b></div>-->
<!--          <div><b class="head">Email: </b>:<b class="info">{{row.6}}</b></div>-->
<!--          <div><b class="head">Mobile: </b>:<b class="info">{{row.7}}</b></div>-->
<!--          <div><b class="head">Address: </b>:<b class="info">{{row.8}}</b></div>-->
<!--        &lt;!&ndash;  <div><b class="head">LoginName: </b>:<b class="info">{{row.9}}</b></div>-->
<!--          <div><b class="head">Password: </b>:<b class="info">{{row.10}}</b></div>&ndash;&gt;-->

<!--          {% endfor  %}-->
<!--        </form>-->
      </div>
    </div>
  </div>
  {% include "/include/footer.html" %}
</div>
{% endblock %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
</body>
</html>