 <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
             <i class="fa fa-tachometer navbarstyle"></i>&nbsp;
              <p class="navbarstyle">
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            {% for row in usermaster %}
            <ul class="nav nav-treeview">
              {% if(row.10 == 1) or (row.10 == 2): %}
              <li class="nav-item">
                <a href="{{url_for('itadminhome')}}" class="nav-link">
                  <i class="fa fa-plus navbarstyle"></i>&nbsp;
                   <p class="navbarstyle">Add Camera</p>
                </a>
              </li>
              {% endif %}
              {% if(row.10 == 2): %}
                <li class="nav-item">
                <a href="{{url_for('Index')}}" class="nav-link">
                  <i class="fa fa-info-circle navbarstyle"></i>&nbsp;
                  <p class="navbarstyle">Employee Details</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{url_for('holiday')}}" class="nav-link">
                  <i class="fa fa-plus navbarstyle"></i>&nbsp;
                  <p class="navbarstyle">Add Holiday</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{url_for('leavestatus')}}" class="nav-link">
                   <i class="fa fa-info navbarstyle"></i>&nbsp;
                  <p class="navbarstyle">Leave Status</p>
                </a>
              </li>
              {% endif %}
                {% if(row.10 == 3) or (row.10 == 2): %}
              <li class="nav-item">
                <a href="{{url_for('employeedetails')}}" class="nav-link ">
                  <i class="fa fa-info-circle navbarstyle"></i>&nbsp;
                  <p class="navbarstyle">Employee List</p>
                </a>
              </li>
<!--              <li class="nav-item">-->
<!--                <a href="{{url_for('monthlyattendencedetail')}}" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon  navbarstyle"></i>-->
<!--                  <p class=" navbarstyle">Monthly Attendance</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="{{url_for('yearlyattendancedetail')}}" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon  navbarstyle"></i>-->
<!--                  <p class=" navbarstyle">Yearly Attendance</p>-->
<!--                </a>-->
<!--              </li>-->
              <li class="nav-item">
                <a href="{{url_for('pendingleave')}}" class="nav-link">
                  <i class="fa fa-hourglass-half navbarstyle"></i>
                  <p class="navbarstyle">Pending Leave Request</p>
                </a>
              </li>
                {% endif %}
                 {% if(row.10 == 4) or (row.10 == 2): %}
              <li class="nav-item">
                <a href="{{url_for('home3')}}" class="nav-link ">
                  <i class="fa fa-info-circle navbarstyle"></i>&nbsp;
                  <p class="navbarstyle">My Details</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p class="navbarstyle">Attendance </p>
                </a>
              </li>
               <li class="nav-item">
                <a href="./index2.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p class="navbarstyle">Leave History </p>
                </a>
              </li>
               <li class="nav-item">
                <a href="{{url_for('leave')}}" class="nav-link">
                   <i class="fa fa-plus navbarstyle"></i>&nbsp;
                  <p class="navbarstyle">Apply Leave</p>
                </a>
              </li>
                {% endif %}
            </ul>
             {% endfor %}
          </li>
        </ul>
      </nav>